/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 4 May 2023, 9:31:15 am
    Author     : abdulmac
*/

.image{
    height: 350px;
    margin: 0 40px;
    background: url(../../assets/images/national-parks.jpg) left top no-repeat;
    box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;
    /*width: 300px;*/
    /*height: 300px;*/
}

.center{
    text-align: center;
    color: green;
}

.title{
    color: background;
}

.nav{
    float:left;
}

.content{
    float: right;
    width: 80%;
}

.nav button{
    text-transform: capitalize;
    display: block;
    margin: 0.7em;
    padding: 10px 0;
    width: 160px;
    background-color:turquoise;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 5);
    cursor: pointer;
}

.nav button.active{
    background-color: graytext;
}

.nav button:hover{
    background-color: buttonface;
}