/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 4 May 2023, 9:31:15 am
    Author     : abdulmac
*/

.inner-body{
    margin: 2em;
}

.image{
    height: 350px;
    margin: 0 40px;
    background: url(../../assets/images/national-parks.jpg) left top repeat;
    box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;
    align-items: center;
   width: 100%;
    /*height: 300px;*/
}

.center{
    text-align: center;
    color: green;
}

.title{
    color:violet;
}

.nav{
    float:left;
}

.content{
    float: right;
    width: 80%;
    border-color: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 16px;
    margin-bottom: 1.7em;
}

.nav button{
    text-transform: capitalize;
    display: block;
    margin: 0.7em;
    padding: 10px 0;
    width: 160px;
    background-color:turquoise;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 5);
    cursor: pointer;
}

.nav button.active{
    background-color: graytext;
}

.nav button:hover{
    background-color: buttonface;
}
#text1{
    color: rgb(23, 184, 58);
    font-weight: bold;
}
.booking{
    border-color: black;
}
.reservation p{
    color: burlywood;
    font-weight: bolder;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .eduinfo , .guide{
    color: green;
    font-weight: bolder;
    text-align: center;
  }
 #photos img{
    width: 250px;
    height: 250px;
 }
 .inner-cont{
    width: 80%;
 }



.image{
    height: 350px;
    margin: 0 ;
    background: url(../../assets/images/national-parks.jpg) left top;
    box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;
    /*width: 300px;*/
    /*height: 300px;*/
}

.center{
    text-align: center;
    color: green;
}

.title{
    color: #6363ce;
}

.nav{
    float:left;
}

.content{
    float: right;
    width: 75%;
}

.nav button{
    text-transform: capitalize;
    display: block;
    margin: 0.7em;
    padding: 10px 0;
    width: 160px;
    background-color:turquoise;
    border-radius: 10px;
    /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 5); */
    cursor: pointer;
}

.nav button.active{
    background-color: graytext;
}

.nav button:hover{
    background-color: buttonface;
}

.center{
    text-align: center;
    color: #4d3e00;
}

.title{
    color: #157701;
}

.nav button{
    text-transform: capitalize;
    display: block;
    margin: 0.7em;
    padding: 10px 0;
    width: 160px;
    background-color:azure;
    color: rgb(17, 17, 1);
    border-radius: 10px;
    border-color: #473400;
    /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 5); */
    cursor: pointer;
}

.nav button.active{
    background-color: azure;
}

.nav button:hover{
    background-color:#147500;
    color: aliceblue;
}


/*.nav a{
    text-transform: capitalize;
    display: block;
    margin: 0.7em;
    padding: 10px 0;
    width: 160px;
    background-color:azure;
    color: rgb(17, 17, 1);
    border-radius: 10px;
    border-color: #473400;
     box-shadow: 0px 8px 15px rgba(0, 0, 0, 5); 
    cursor: pointer;
}

.nav a.active{
    background-color: azure;
}

.nav a:hover{
    background-color:#147500;
    color: aliceblue;
}*/
.button{
    float: left;
}
.button a {
  background-color: Crimson; 
  border-radius: 5px;
  color: white;
  padding: .5em;
  text-decoration: none;
  text-transform: capitalize;
    display: block;
    margin: 0.7em;
    padding: 10px 0;
    width: 160px;
    background-color:azure;
    color: rgb(17, 17, 1);
    border-radius: 10px;
    border-color: #473400;
     box-shadow: 0px 8px 15px rgba(0, 0, 0, 5); 
    /*cursor: pointer;*/
        text-align: center;
}

.button a:focus,
.button a:hover {
  background-color:#147500;
    color: aliceblue;
}

.button a.active{
    background-color: #a7cdb5;
}

.flexi{
    display:inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;

}
